.content {
    text-align: initial;
    padding-left: 20px;
    font-size: 14px;
    white-space: nowrap;
    overflow-x: auto;
    margin-top: 6px;
}

.commenterNameP {
    font-weight: bold;
}

.commentsStream {
    color: rgba(var(--i1d,38,38,38),1);
    font: inherit;
    vertical-align: baseline;
    -webkit-box-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    position: relative;
    padding: 0;
}

.photosComments {
    display: flex;
    flex-direction: column;
}

.commenterNameP, .commentContent {
    display: inline-block;
    margin: 3px 2px;
}

.commentContent {
    cursor: default;
}

.commentForm {
    font: inherit;
    align-items: stretch;
    display: flex;
    padding: 11px;
    position: relative;
    margin-top: 4px;
    border-top: 1px solid rgba(var(--ce3,239,239,239),1);
    color: rgba(var(--f52,142,142,142),1);
    flex-shrink: 0;
    font-size: 14px;
    line-height: 18px;
    min-height: 56px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    border: 0 solid #000;
    box-sizing: border-box;
    border-top: 1px solid rgba(var(--ce3,239,239,239),1);
}

.comment_button:disabled {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    appearance: none;
    background: 0 0;
    cursor: pointer;
    font-weight: 600;
    border: 0;
    color: rgba(var(--d69,0,149,246),1);
    padding: 0;
    opacity: .3;
    outline: none;
}

.comment_button {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    appearance: none;
    background: 0 0;
    cursor: pointer;
    font-weight: 600;
    border: 0;
    color: rgba(var(--d69,0,149,246),1);
    padding: 0;
    outline: none;
}

.comment_input {
    -webkit-box-direction: normal;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 18px;
    background: 0 0;
    border: 0;
    color: rgba(var(--i1d,38,38,38),1);
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: inherit;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
    width: 0;
}

.commentDelete {
    float: right;
    cursor: pointer;
    padding: 0px 5px;
    border: 1px solid transparent;
    font: inherit;
    border-radius: 4px;
    outline: none;
    width: 50px;
    position: relative;
    /* top: -60px; */
    height: 21px;
    /* background-color: rgba(0, 149, 246, 1); */
    /* visibility: hidden; */
    background-color: white;
    color: white;
    margin-right: 10px;
}

.content:hover > .commentDelete {
    background-color: rgba(0, 149, 246, .5);
}

.content:hover > .commentDelete:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
    /* background-color: rgba(0, 149, 246, .5); */
    background-color: rgba(0, 149, 246, 1);
}

.commenterLink {
    font-weight: 600;
    text-overflow: ellipsis;
    display: contents;
    color: rgba(var(--f75,38,38,38),1);
}