.loggedUser {
    position: fixed;
    left: 65%;
    right: px;
    height: 100%;
    width: 22%;
    display: inline-flex;
}

.avatar_home {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.avatarImg {
    width: 100%;
}

.infoDiv {
    width: 213px;
    display: grid;
    grid-template-rows: 30px 45px;
    grid-template-columns: 90px;
    grid-auto-flow: column;
}

.infoDivAvatar {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
    grid-column: 1;
    grid-row: 1 / 3;
}

.infoDivUsername {
    margin: 12px 0px 0px 14px;
    vertical-align: baseline;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.infoDivFullName {
    margin: 3px 0px 0px 14px;
    font: inherit;
    vertical-align: baseline;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    color: rgba(var(--f52,142,142,142),1);
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-self: start;
}