.userPhotoAlbum {
    color: rgba(var(--i1d,38,38,38),1);
    font: inherit;
    vertical-align: baseline;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: grid;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.userPhoto {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userPhotoBtn {
    z-index: 1;
    color: transparent;
    background-color: transparent;
    /* opacity: .7; */
    border: none;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px 10px;
    right: 0;
    cursor: pointer;
}

.userPhotoContentI:hover > .userEdit > .userPhotoBtn:hover {
    /* opacity: 1; */
    color: #cc0000;
    z-index: 1;
    /* color: black; */
    background-color: white;
    opacity: .8;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px 10px;
    right: 0;
    cursor: pointer;
    transition: background-color color;
    /* margin: auto; */
}

.userPhotoContent, .userPhotoContentI {
    position: relative;
    overflow: hidden;
    width: 293px;
    height: 293px;
}

.userPhotoContentI:hover > .userPhoto{
    opacity: .5;
}

.userEdit {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.userPhotoContentI:hover > .userEdit > .userPhotoBtn {
    z-index: 1;
    color: black;
    background-color: white;
    /* opacity: .7; */
    border: none;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px 10px;
    right: 0;
    cursor: pointer;
    transition: background-color color;
    margin: auto;
}