.userPhotoAlbum {
    color: rgba(var(--i1d,38,38,38),1);
    font: inherit;
    vertical-align: baseline;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: grid;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.userPhoto {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userPhotoBtn {
    z-index: 1;
    color: black;
    background-color: white;
    position: absolute;
    opacity: .7;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px 10px;
    right: 0;
    cursor: pointer;
}

.userPhotoBtn:hover {
    opacity: 1;
    color: #cc0000;
}

.userPhotoContent {
    position: relative;
    overflow: hidden;
    width: 293px;
    height: 293px;
}